/*-------------------
      General
-------------------*/

.App {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  background-image: url("https://i.imgur.com/qVwaQE3.png");
  background-size: cover;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .table-header {
  background-color: white;
  height: 20vmin;
  padding: 10px;
} */

.App-link {
  color: #61dafb;
}

/*-------------------
  Old React Graphics
-------------------*/

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
} */