/*-------------------
  Cloud Chart Logo
-------------------*/

.logo {
    background: url("../assets/CloudChart.png") no-repeat top center;
    background-size: contain;
    height: 98px;
    width: 260px;
    padding: 5px;
    margin: auto;
  }