.myReportCard {
	padding: 15px;
	font-weight: bold;
	font-size: 20px;
}

/*-------------------
  Cards
-------------------*/
.card-class {
	max-width: 200px;
	background: #3c8eec42;
	border: 1px dotted slategray;
	margin-top: 10px;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	margin-bottom: 160px;
}

.cardContainer {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	max-height: 170px;
	color: black;
	text-decoration: none;
}

.delete-form {
	position: relative;
	left: 80px;
	bottom: 8px;
	border: 1px solid black;
	color: red;
	padding: 0;
	height: 17px;
	width: 15px;
	background: white;
	cursor: pointer;
}
/*-------------------
  Text inside Cards
-------------------*/
.name {
	font-size: 12px;
	font-weight: normal;
}

.createdAt {
	font-size: 12px;
}

.timestamp {
	font-size: 12px;
	margin-top: -10px;
}
